* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #FFFDF9;
  border-bottom: 2px solid #ddd;
}

body {
  background-color: #b88b4a; 
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 50px;
}

.hero-text {
  flex: 1;
  background-color: #ffffff; 
  border-radius: 0.5rem;
  padding: 30px;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1f2933; 
}

.hero-text h1 span {
  color: #8b5e3c; 
}

.hero-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #4b5563; 
  max-width: 500px;
}

.hero-buttons button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.primary-btn {
  background-color: #99582a; 
  color: #ffffff;
}

.secondary-btn {
  background-color: #432818; 
  color: #ffffff;
}

.hero-buttons button:hover {
  opacity: 0.9;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

footer{
text-align: center;
 padding: 15px; 
 background-color: #f0f0f0; 
 color: #333;
}

.logo {
  display: flex;           
  align-items: center;     
  gap: 8px;                
  font-size: 20px;         
  font-weight: bold;       
}

#logo {
  width: 24px;           
  height: 24px;           
}

.navbar a {
  text-decoration: none;
  color: black;
}

.read-list{
   padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  background-color: #99582a; 
  color: #ffffff;
}
.read-list button:hover {
  opacity: 0.9; }