* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(
    180deg,
    #CC5E5E 0%,
    #EFAAAA 35%,
    #FFFFFF 100%
  );
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #FFF7F5; 
  border-bottom: 1px solid #E2CFCB;
}

.navbar a {
  text-decoration: none;
  color: #2E2E2E;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 50px;
}

.hero-text {
  flex: 1;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.hero-text h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #2E2E2E;
}

.hero-text h1 span {
  color: #633434; 
}

.hero-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #5F5F5F;
  max-width: 500px;
}

.hero-buttons button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.primary-btn {
  background-color:#633434;
  color: #FFFFFF;
}

.secondary-btn {
  background-color: #CC5E5E; 
  color: #FFFFFF;
}

.hero-buttons button:hover,
.read-list:hover {
  opacity: 0.9;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #FFF7F5;
  color: #5F5F5F;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
}

#logo {
  width: 24px;
  height: 24px;
}

.read-list {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-color: #633434;
  color: #FFFFFF;
}
