* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://wallpapercave.com/wp/wp3711174.jpg") center/cover no-repeat;
}

.bg-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.container {
  background:burlywood;
  width: 420px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-top: 80px;   
  }

.container h2 {
  margin-bottom: 20px;
  color: #522409;
}

#input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}

#submit {
  width: 100%;
  padding: 10px;
  background: #522409;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

#submit:hover {
  background: #5a3825;
}

ol {
  text-align: left;
}

li {
  margin-bottom: 12px;
  line-height: 1.6;
}

li button {
  margin-left: 6px;
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  background-color:#DEAB90;
  border: 1px solid black;
  color:black;
}

.reading {
  color: black;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}

.completed {
  color: black;
   font-weight: bold;
  text-decoration: line-through;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  z-index: 1000;
}

.logo {
  display: flex;          
  align-items: center;     
  gap: 8px;                
  font-size: 20px;         
  font-weight: bold;      
}

#logo {
  width: 24px;             
  height: 24px;            
}

.back {
  margin-left: auto;
   color: black;
   text-decoration: none;
}
