body {
  font-family: Arial, sans-serif;
  margin: 0;
  background:#e6a449; 
  text-align: center;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #FFF7EE;
  border-bottom: 1px solid #ddd;
}

.back {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.back:hover {
  color: #2B1B0F;
}

.name-box {
  margin: 20px;
}

#name {
  width: 200px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}
#name:focus {
  border-color: #6B4F2D;
}

#submit {
  width: 70px;
  padding: 8px;
  border-radius: 20px;
  border: none;
  background: #8a3809c9;
  color: white;
  cursor: pointer;
}
#submit:hover {
  background: #2B1B0F;
}

#userName {
  font-weight: bold;
}

.mood-cards {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

.mood-card {
  background: #FFDCC2;
  padding: 15px 25px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  color: #2B1B0F;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.mood-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0,0,0,0.18);
}

.mood-card.active {
  background: #FFE6C7;
  border: 2px solid #6B4F2D;
}

#book-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

.book-card {
  width: 200px;
  background: #FFF7EE;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  height: 450px;
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
} 

h1 {
  color: #2B1B0F;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
}

#logo {
  width: 24px;
  height: 24px;
}