body {
  font-family: Arial, sans-serif;
  background: sienna;
  text-align: center;
  margin: 0;          
  padding: 0;         
}

h1 {
  margin-bottom: 5px;
  color: #432818;
}

.question {
  margin: 10px 0;
}

select {
  padding: 8px;
  width: 220px;
  border-radius: 6px;
}

button {
  padding: 10px 20px;
  background: #432818;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #522409;
}

#result {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.book-card {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.book-card img {
  width: 100%;
  border-radius: 8px;
}
  .container {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 20px auto;     
  padding: 30px;        
  max-width: 1200px;     
  border-radius: 16px;  
}

#result{
  align-self: flex-start; 
  margin-top: 0;
  position: absolute;
   top: 100px;      
  right: 80px;   
}

.container {
  position: relative;
}

.container > *:not(#result) {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

#girl {
  position: absolute;
  left: 40px;
  top: 100px;

  width: 350px;
  max-height: 420px;

  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}
/* Navbar */
  .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #FFFDF9;
  border-bottom: 2px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

.back {
  text-decoration: none;
  color:black;
}

.logo {
  display: flex;           
  align-items: center;     
  gap: 8px;                
  font-size: 20px;         
  font-weight: bold;      
}

#logo {
  width: 24px;             
  height: 24px;            
}
